<div class="content">
    <img src="{{imageUrl}}" alt="" />
    <h3>Title: {{title}}</h3>
    <h3>Written by {{author}}</h3>
    <p>Release year: {{releaseDate}}</p>
    <a href="/book/delete/{{_id}}">Delete</a>
    <a href="/book/edit/{{_id}}">Edit</a>
</div>